extends layout/layout
block content
    div(class="container")
        div(class="starter-template")
            if (typeofjump==0)
                div(class="alert alert-warning")
                        h1=brief
                        p=problem
                        p=des
                        br
                        br
                        a(class="btn btn-default" rold="button" href="#" style="float:right") Jump »
             else
                div(class="alert alert-success")
                        h1=brief
                        p=problem
                        p=des
                        br
                        br
                        a(class="btn btn-default" rold="button" href="#" style="float:right") Jump »
         
    include layout/foot
    script.
        $(function(){
             $('.active').removeClass('active')     
             setTimeout(function(){location.href="/";},3000);        
            })