extends ../layout
block content
	div(class="frame1")
		include ../session/user
		div(style="clear:both")
		.contain
			ul(class='bar')
				li 
					span 
						a(href="/users/"+user.username class="choosen") My Quest
				li 
					span 
						a(href="/users/"+user.username+"/1" ) My Record
				li 
					span 
						a(href="/users/"+user.username+"/2") Setting
				li 
					span 
						a(href="/users/"+user.username+"/3") My Profile
	
	div(style="clear:both")
	div(class="frame1")
		.main
			-for (var x=0;x<=quests.length-1;x++)
				.quest
					.title
						p=quests[x].title
					.time
						p 剩余时间
							span 12小时
					div(style="clear:both")
					.content
						p=quests[x].content
					.okey
						p 帮助者:
							a(href="/users/"+quests[x].got)=quests[x].got
					div(class="dim" style="background: rgba(203, 57, 57, 0.8);" onmouseover="")
					div(class="dim" style="background: rgba(237, 237, 67, 0.8);" onmouseover="")
			//- .quest
			//- 	.title
			//- 		p 如何放弃治疗
			//- 	.time
			//- 		p 剩余时间
			//- 			span 12小时
			//- 	div(style="clear:both")
			//- 	.content
			//- 		p ljasfkljaskfjlksdjflkjaskfljlkdfjalksdjfljasfkljaskfjlksdjflkjaskfljlkdfjalksdjflkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjaskljasfkljaskfjlksdjflkjaskfljlkdfjalksdjflkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjaskljasfkljaskfjlksdjflkjaskfljlkdfjalksdjflkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjaskljasfkljaskfjlksdjflkjaskfljlkdfjalksdjflkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjaskljasfkljaskfjlksdjflkjaskfljlkdfjalksdjflkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjasklkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjask
			//- 	.okey
			//- 		a(href="")申请
			//- 	div(class="dim" style="background: rgba(203, 57, 57, 0.8);" onmouseover="javascript:alert('123')")
			//- 	div(class="dim" style="background: rgba(237, 237, 67, 0.8);" onmouseover="")
			//- .quest
			//- 	.title
			//- 		p 如何放弃治疗
			//- 	.time
			//- 		p 剩余时间
			//- 			span 12小时
			//- 	div(style="clear:both")
			//- 	.content
			//- 		p ljasfkljaskfjlksdjflkjaskfljlkdfjalksdjfljasfkljaskfjlksdjflkjaskfljlkdfjalksdjflkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjaskljasfkljaskfjlksdjflkjaskfljlkdfjalksdjflkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjaskljasfkljaskfjlksdjflkjaskfljlkdfjalksdjflkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjaskljasfkljaskfjlksdjflkjaskfljlkdfjalksdjflkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjaskljasfkljaskfjlksdjflkjaskfljlkdfjalksdjflkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjasklkjasdfkljaskdjflksdjaflksdjflkjaskfljsaasadasdasdasddflkjask
			//- 	.okey
			//- 		a(href="")申请
			//- 	div(class="dim" style="background: rgba(203, 57, 57, 0.8);" onmouseover="javascript:alert('123')")
			//- 	div(class="dim" style="background: rgba(237, 237, 67, 0.8);" onmouseover="")

		.information
			ul(class="informationbar")
				li
					p 我的头像
					img(src="/pic/"+user.pic)
				li
					span 用户名:
						a=user.username
				li
					span 积分:
						a 999
				li
					span 头衔:
						a 土豪
				li
					span 发布数:
						a=quests.length
				li
					span 回答数:
						a 20
				li
					span 成功率:
						a 50%

	
		.foot
			if (session.applyfor==1)
				script.
					alert("succeed!")
			else if (session.applyfor==2)
				script.
					alert('You have not access')	
							